# Binaries
**/bin/
!vendor/premake/bin/
bin-int/
Intermediates/

# Benga files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj
**.csproj.user

# Directories
Benga/vendor/VulkanSDK
Benga-Editor/assets/scenes/*.benga
Benga-Editor/assets/cache
scripts/__pycache__