# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Benga files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
Benga-Editor/assets/scenes/*.benga
scripts/__pycache__