[submodule "Benga/vendor/spdlog"]
	path = Benga/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Benga/vendor/GLFW"]
	path = Benga/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
	branch = master
[submodule "Benga/vendor/imgui"]
	path = Benga/vendor/imgui
	url = https://github.com/TheCherno/imgui
	branch = docking
[submodule "Benga/vendor/glm"]
	path = Benga/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Benga/vendor/Crayon"]
	path = Benga/vendor/Crayon
	url = https://github.com/BigHug-yt/Crayon
[submodule "Benga/vendor/ImGuizmo"]
	path = Benga/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
